.h1{
    font-family: 'Bungee Inline', cursive;
    font-size: 15px;
    /* font-colour:rgb(255,144,144) */
}
body{
    font-family: 'Lato', sans-serif;
    /* background-image: image(abstract-black-background-blue-604684(1).jpg); */
    font-size : 20px;
    background-color: rosybrown
}

